{% extends 'base.html' %}

{% block content %}
<h1 class="text-center">Connexion</h1>
<form method="post" action="/signin">
  {% csrf_token %}
  <div class="mb-3">
    <label for="username" class="form-label">Nom d'utilisateur</label>
    <input type="text" class="form-control" name="username" id="username" placeholder="exemple: John" required>
  </div>
  <!-- <div class="mb-3">
    <label for="email" class="form-label">E-mail</label>
    <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="exemple: mon.email@gmail.com" required>
    <div id="emailHelp" class="form-text">Nous ne partagerons jamais votre email avec une tierce personne.</div>
  </div> -->
  <div class="mb-3">
    <label for="password" class="form-label">Mot de passe</label>
    <input type="password" class="form-control" name="password" id="password" placeholder="exemple: )6_6xpSB" required>
  </div>
  <button type="submit" class="btn btn-primary">Me connecter</button>
</form>
{% endblock %}