{% extends 'base.html' %}

{% block content %}
<h1 class="text-center">Liste des sondages</h1>
{% if messages %}
{% for message in messages %}
  <p class="text-success">{{message}}</p>
{% endfor %}
{% endif %}
<div class="accordion mt-3" id="surveys_list">
    {% for survey in surveys %}
    <div class="accordion-item">
        <h2 class="accordion-header" id="head_{{survey.id}}">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#body_{{survey.id}}" aria-expanded="true" aria-controls="body_{{survey.id}}">
                {{survey.name}}
            </button>
        </h2>
        <div id="body_{{survey.id}}" class="accordion-collapse collapse" aria-labelledby="head_{{survey.id}}" data-bs-parent="#surveys_list">
            <div class="accordion-body">
                {% if not user.is_authenticated %}
                <p>Afin de répondre à ce sondage, veuillez-vous <a href="{% url 'sign_in' %}">connecter</a>. Si vous n'avez pas de compte veuillez-vous <a href="{% url 'sign_up' %}">inscrire</a>.</p>
                {% else %}
                <a href="{% url 'answer_survey' survey.name %}">
                    <button class="btn btn-primary">Répondre au sondage</button>
                </a> 
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}